# ---------------------------------------------
# Xcode: пользовательские данные, кэш, настройки
# ---------------------------------------------
**/*.xcuserstate
**/*.xcuserdatad/
**/*.xcscmblueprint
**/*.xcschememanagement.plist
**/xcuserdata/
**/xcshareddata/
**/xcworkspace/xcuserdata/
**/xcworkspace/xcshareddata/

# ---------------------------------------------
# Сборка и артефакты Xcode
# ---------------------------------------------
**/DerivedData/
**/build/
**/*.xcarchive
**/*.dSYM
**/*.dSYM.zip
**/*.ipa
**/*.app
**/*.framework

# ---------------------------------------------
# CocoaPods
# ---------------------------------------------
**/Pods/
**/Podfile.lock

# ---------------------------------------------
# Playground files
# ---------------------------------------------
**/*.playground/
**/*.xcplayground/

# ---------------------------------------------
# System and IDE metadata
# ---------------------------------------------
**/.DS_Store
**/.idea/
**/.vscode/
**/*.swp
**/*~
**/.env
**/.history
**/.Trash/
